.datepicker__wrapper
  .datepicker__header
    img.datepicker__back-arrow(src="img/arrow_back.png", alt="")
    p.datepicker__month Август
    p.datepicker__year 2019
    img.datepicker__next-arrow(src="img/arrow_forward.png", alt="")
    .datepicker__table
      table 
        tr
          th Пн
          th Вт
          th Ср
          th Чт
          th Пт
          th Сб
          th Вс