.datepicker__wrapper
  .datepicker__header
    img.datepicker__back-arrow
    p.datepicker__month
    p.datepicker__year
    img.datepicker__next-arrow
  .datepicker__table
    table 
      tr
        th Пн
        th Вт
        th Ср
        th Чт
        th Пт
        th Сб
        th Вс