.container-fluid.first-details
  .row.no-gutters
    .col-md-8.col-12.room-img-one
      .img1
        img(src="img/room1.jpg", alt="")
    .col-md-4.col-12
      .room-img-second
        img.img-second(src="img/room2.jpg", alt="")
        img.img-second(src="img/room3.jpg", alt="")