section.first-screen
  .container
    .row
      .col-md-4
        .choice-number
          .choice-number__choice
            p.choice-number__title Найдём номера под ваши пожелания
            include _datepicker                
            include _guests                             
            button.choice-number__submit-button(type="submit") подобрать номер        
      .col-lg-6.trigger
        .trigger__block
          p.trigger__text Лучшие номера для вашей работы, отдыха и просто вдохновения 
    