section.first-screen
  .container
    .row
      .col-lg-4.search
        .search__field
          p.search__title Найдём номера под ваши пожелания
          .blank-space__one
            input(type="text" id="datepicker" placeholder="ДД.ММ.ГГГГ")
            img(src="img/expand_more.png", alt="")
          a(class='button' href='index-page.html') подобрать номер
      .col-lg-6.trigger
        .trigger__block
          p.trigger__text Лучшие номера для вашей работы, отдыха и просто вдохновения 
    