section.first-screen
  .container
    .row
      .col-lg-4.search
        .search__field
          p.search__title Найдём номера под ваши пожелания
          .blank-space__one
          button.search__button(type="button") подобрать номер
      .col-lg-6.trigger
        .trigger__block
          p.trigger__text Лучшие номера для вашей работы, отдыха и просто вдохновения 
    