.copyright
  .container
    .row
      .col-lg-9.col-md-8.col-12
        p.copy-title Copyright © 2018 Toxin UI Kit. All rights reserved.
      .col-lg-3.col-md-4.col-12
        .social-icons
          img.twitter(src="", alt="")
          img.fb(src="", alt="")
          img.insta(src="", alt="")
  