.bottom__nav
  .container.bottom__navigate
    .row.bottom__navig-row
      .col-lg-3.col-md-6.col-12.columns-one
        .brand
          +brand
        .main
          p.booking Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
      .col-lg-2.col-md-3.col-12.columns
        .navigation
          p.navigation.title навигация
          ul.navigation.list
            li:a.navlink(href="/") О нас
            li:a.navlink(href="/") Новости
            li:a.navlink(href="/") Служба поддержки
            li:a.navlink(href="/") Услуги
      .col-lg-2.col-md-3.col-12.columns
        .about
          p.about.title о нас
          ul.about.list
            li:a.navlink(href="/") О сервисе
            li:a.navlink(href="/") Наша команда
            li:a.navlink(href="/") Вакансии 
            li:a.navlink(href="/") Инвесторы
      .col-lg-2.col-md-3.col-12.columns
        .support
          p.support.title Служба поддержки
          ul.support.list
            li:a.navlink(href="/") Соглашения
            li:a.navlink(href="/") Сообщества
            li:a.navlink(href="/") Связь с нами 
      .col-lg-3.col-md-6.col-12.columns.last
        .subscribe
          p.subscribe.title Подписка
          form(action="", method="post")
            p.subscribe__offer Получайте специальные предложения и новости сервиса
            input#subscribe__field(type="email", name="Email", placeholder="Email")
