.choice-number__guests
  .choice-number__guests-title гости
  .choice-number__guests-general-box
    .choice-number__how-many-guests
      p#guests-number Сколько гостей
      img.guests-down(src="img/expand_more.png", alt="")
      .choice-number__quantity
        .choice-number__adults
          p взрослые
          button.minus.adults(type="button")
          input#adults(type="number", name="", value="0", step="1", min="0", max="3")
          button.plus.adults(type="button")
        .choice-number__children
          p дети
          button.minus.children(type="button")
          input#children(type="number", name="", value="0", step="1", min="0", max="3")
          button.plus.children(type="button")
        .choice-number__babies
          p младенцы
          button.minus.babies(type="button")
          input#babies(type="number", name="", value="0", step="1", min="0", max="3")
          button.plus.babies(type="button")
        .choice-number__commands
          button.reset-button(type="reset") очистить
          button.apply-button(type="button") применить