.choice-number__guests
  .choice-number__guests-title гости
  .choice-number__guests-general-box
    .choice-number__how-many-guests
      p Сколько гостей
      img.guests-down(src="img/expand_more.png", alt="")
      .choice-number__quantity
        .choice-number__adults
          p взрослые
          button.minus(type="submit")
          input#adults(type="submit", value="")
          button.plus(type="submit")
        .choice-number__children
          p дети
          button.minus(type="submit")
          input#children(type="submit", value="")
          button.plus(type="submit")
        .choice-number__babies
          p младенцы
          button.minus(type="submit")
          input#babies(type="submit", value="")
          button.plus(type="submit")
        .choice-number__commands
          button.reset-button(type="reset") очистить
          button.apply-button(type="submit") применить