.container
  .row
    .col-lg-3.col-md-5.col-12
    .col-lg-9.col-md-7.col-12
      h1 Номера, которые мы для вас подобрали
      .numb
        +number-card
        +number-card
        +number-card
        +number-card
        +number-card
        +number-card
        +number-card
        +number-card
        +number-card
        +number-card
        +number-card
        +number-card

               
          

