mixin number-card
  .numb__card
    img.numb__img(src="img/image.jpg", alt="")
    .numb__main
      .numb__descrption
        .numb__level № 888 <span>люкс</span>
        .numb__price 9 990₽ <span>в сутки</span>
      .numb__rating
        .numb__stars *****
        .numb__responses 145 <span>Отзывов</span>


.container
  .row
    .col-lg-3.col-md-5.col-12
      .general-data
    .col-lg-9.col-md-7.col-12
      h1 Номера, которые мы для вас подобрали
      .numb
        +number-card
        +number-card
        +number-card
        +number-card
        +number-card
        +number-card
        +number-card
        +number-card
        +number-card
        +number-card
        +number-card
        +number-card

               
          

