.container
  .row
    .col-lg-3.col-md-5.col-12
    .col-lg-9.col-md-7.col-12
      h1 Номера, которые мы для вас подобрали
      .numb
        .numb__card
          img.numb__img(src="", alt="")
          .numb__main
            .numb__descrption
              .numb__level
              .numb.price
            .numb__rating
              .numb__stars
              .numb__responses

