mixin number-card
  .numb__card
    img.numb__img(src="img/image.jpg", alt="")
    .numb__main
      .numb__descrption
        .numb__level № 888 <span>люкс</span>
        .numb__price 9 990₽ <span>в сутки</span>
      .numb__rating
        .numb__stars *****
        .numb__responses 145 <span>Отзывов</span>


.container
  .row
    .col-lg-3.col-md-5.col-12.all-data
      .booking-data
        .booking-dates
          .booking-dates__title даты пребывания в отеле
          .booking-dates__choice
            input(type="text", value="")#booking-dates.booking-dates__input            
        .guests-quantity
          .guests-quantity__title гости
          .guests-quantity__guests
            p.guests-quantity__p Сколько гостей
            img.guests-quantity__arrow(src="img/expand_more.png", alt="")
            .guests-quantity__quantity
              .choice-number__adults
                p взрослые
                button.minus.adults(type="button")
                input#adults(type="number", name="", value="0", step="1", min="0", max="3")
                button.plus.adults(type="button")
              .choice-number__children
                p дети
                button.minus.children(type="button")
                input#children(type="number", name="", value="0", step="1", min="0", max="3")
                button.plus.children(type="button")
              .choice-number__babies
                p младенцы
                button.minus.babies(type="button")
                input#babies(type="number", name="", value="0", step="1", min="0", max="3")
                button.plus.babies(type="button")
              .choice-number__commands
                button.reset-button(type="reset") очистить
                button.apply-button(type="button") применить
        .price-range
          .price-range__main
            .price-range__title диапазон цены             
            input#price-range__input(type="text", readonly style="border:0; color:#f6931f; font-weight:bold;")
          #price-range__levels
          p.price-range__desc Стоимость за сутки пребывания в номере
        .checkboxes__all
          .checkboxes__title Checkbox Buttons
          .checkboxes
            input#checkboxes__smoke(type="checkbox", name="")
            label.ch-boxes(for="checkboxes__smoke") Можно курить
          .checkboxes
            input#checkboxes__animals(type="checkbox", name="")
            label.ch-boxes(for="checkboxes__animals") Можно с питомцами
          .checkboxes
            input#checkboxes__can-guests(type="checkbox", name="")
            label.ch-boxes(for="checkboxes__can-guests") Можно пригласить гостей <br>(до 10 человек)
    .col-lg-9.col-md-7.col-12.choice-numbers
      h1 Номера, которые мы для вас подобрали
      .numb
        +number-card
        +number-card
        +number-card
        +number-card
        +number-card
        +number-card
        +number-card
        +number-card
        +number-card
        +number-card
        +number-card
        +number-card

               
          

