.container.number__information
  .row.number__info
    .col-md-4.col-12.number__col
      p.number__title Сведения о номере
      .number__comfort
        img(src="img/insert_emoticon.png", alt="")
        p.number__desc Комфорт <br><span>Шумопоглощающие стены</span>
    .col-md-4.col-12
    .col-md-4.col-12