.container.number__information
  .row.number__info
    .col-md-8.col-12.number__col
      .number__gen-first
        p.number__title Сведения о номере
        .number__comfort
          img(src="img/insert_emoticon.png", alt="")
          p.number__desc Комфорт <br><span>Шумопоглощающие стены</span>     
        .number__comfort
          img(src="img/location_city.png", alt="")
          p.number__desc Удобство <br><span>Окно в каждой из спален</span>     
        .number__comfort
          img(src="img/whatshot.png", alt="")
          p.number__desc Уют <br><span>Номер оснащён камином</span>
      .number__gen-second
        p.number__title Впечатления от номера
        .number__rating
          .number__rating-bar
          ul.number__rating-list
            li Великолепно
            li Хорошо
            li Удовлетворительно
            li Разочарован
      .response
        p.response__title Отзывы посетителей номера
        .response__person
          img.response__ava(src="img/avatar1+.png", alt="")
          p.response__name Мурад Сарафанов <br><span>5 дней назад</span>
        .response__text
          img.response__rate(src="img/Group 2.1.png", alt="")
          p.response__desc Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.
        .response__person
          img.response__ava(src="img/avatar1+.png", alt="")
          p.response__name Мурад Сарафанов <br><span>5 дней назад</span>
        .response__text
          img.response__rate(src="img/Group 2.1.png", alt="")
          p.response__desc Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент.
      .rules
        .regulations
          p.regulations__title Правила
          .regulations__block           
            img(src="img/Ellipse.png", alt="")
            p.regulations1 Нельзя с питомцами
          .regulations__block           
            img(src="img/Ellipse.png", alt="")
            p.regulations1 Без вечеринок и мероприятий
          .regulations__block           
            img(src="img/Ellipse.png", alt="")
            p.regulations1 Время прибытия — после 13:00, а выезд до 12:00
        .cancel
          p.cancel__title Отмена
          p.cancel__desc Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.
        
    .col-md-4.col-12
      .general-info