.container.number__information
  .row.number__info
    .col-md-4.col-12.number__col
      p.number__title Сведения о номере
      .number__comfort
        img(src="img/insert_emoticon.png", alt="")
        p.number__desc Комфорт <br><span>Шумопоглощающие стены</span>     
      .number__comfort
        img(src="img/location_city.png", alt="")
        p.number__desc Удобство <br><span>Окно в каждой из спален</span>     
      .number__comfort
        img(src="img/whatshot.png", alt="")
        p.number__desc Уют <br><span>Номер оснащён камином</span>
    .col-md-4.col-12
      p.number__title Впечатления от номера
      .number__rating
        .number__rating-bar
        ul.number__rating-list
          li Великолепно
          li Хорошо
          li Удовлетворительно
          li Разочарован
    .col-md-4.col-12
      .general-info