.container-fluid.first-registr
  .row.no-gutters
    .col-12
      .new-account-box
        form.new-account__form(action="", method="get")
          .new-account__title Регистрация аккаунта
          input.new-account.name(type="text", placeholder="Имя")
          input.new-account.surname(type="text", placeholder="Фамилия")
          .new-account__radiobuttons
            input#male.genderinput(type="radio", name="gender", value="пол: мужской") 
            label.label-of(for="male") Мужчина
            input#female.genderinput(type="radio", name="gender", value="пол: женский")
            label.label-of(for="female") Женщина
          .new-account__birthday
            .new-account__birthday-title дата рождения
            input#booking-dates.new-account(type="text")
          .new-account__enter
            .new-account__enter-title данные для входа в сервис
            input#email.new-account(type="email", placeholder="Email")
            input#pass.new-account(type="password", placeholder="Пароль")
            label.toggle(for="#toggle") Получать спецпредложения              
              input#toggle(type="checkbox", data-toggle="toggle")
              img.toggle-of(src="img/Toggle 2.1.png")
          button.new-account__button(type="submit") перейти к оплате
            img(src="img/arrow_forward_white.png")
          .enter__private
            p.enter__text Уже есть аккаунт на Toxin
            input.enter__button(type="button", value="войти") 
            
            