extends template

block header
  include includes/_header

block first-screen
  include includes/_first-screen

block footer__bottom-nav
  include includes/_footer__bottom-nav
  include includes/_footer__copyright