extends template-page

block header
  include includes/_header

block main-page
  include includes/_main-page

block footer__bottom-nav
  include includes/_footer__bottom-nav
  include includes/_footer__copyright