extends template-registration-page

block header
  include includes/_header

block registration
  include includes/_registration

block footer__bottom-nav
  include includes/_footer__bottom-nav
  include includes/_footer__copyright