extends template-room-details

block header
  include includes/_header

block first-screen-room-details
  include includes/_first-screen-room-details
  include includes/_number-information

block footer__bottom-nav
  include includes/_footer__bottom-nav
  include includes/_footer__copyright