.datepicker__wrapper
  position: absolute
  width: 320px
  height: 369px
  background: #FFFFFF
  border: 1px solid rgba(31, 32, 65, 0.25)
  box-sizing: border-box
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05)
  border-radius: 4px

.datepicker__header
  display: flex
  justify-content: space-around
  align-items: center
  height: 50px

.datepicker__back-arrow
.datepicker__next-arrow

.datepicker__month, .datepicker__year
  font-family: 'Montserrat-SemiBold'
  font-style: normal
  font-weight: bold
  font-size: 19px
  text-align: center
  color: #1F2041

.datepicker__table
  tr
    
    th
      font-family: 'Montserrat-SemiBold'
      font-style: normal
      font-weight: bold
      font-size: 12px
      line-height: 15px     
      color: #BC9CFF   