.container
  display: flex 
  height: 70px
  .row
    display: flex
    width: inherit
    align-items: center
  
.navbar-toggler-icon
  display: none

.navbar-brand
  position: relative
  width: 40px
  height: auto
  left: 0
  .brand__name
    margin: 12.5px

.collapse 
  justify-content: flex-end

.nav-link
  font-family: 'Montserrat-Regular'
  font-style: normal
  font-weight: normal
  font-size: 14px
  color: rgba(31, 32, 65, 0.5)
  padding-right: 10px
  padding-left: 10px

.buttons
  text-align: -webkit-right
.enter
  width: 79px
  height: 34px
  font-family: 'Montserrat-SemiBold'
  font-style: normal
  font-weight: bold
  color: #BC9CFF
  font-size: 12px
  text-transform: uppercase
  border: 1px solid #BC9CFF
  border-radius: 22px

.registration
  width: 196px
  height: 34px
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%)
  border-radius: 22px
  font-family: 'Montserrat-SemiBold'
  font-style: normal
  font-weight: bold
  font-size: 12px
  color: #ffffff
  text-transform: uppercase
  margin-left: 20px