.number__information
  height: 900px
  padding-top: 70px

.number__title 
  font-family: 'Montserrat-SemiBold'
  font-style: normal
  font-weight: bold
  font-size: 19px
  line-height: 24px

.number__comfort
  width: 280px
  display: flex
  align-items: center
  padding: 23px 0
  border-bottom: 1px solid rgba(31, 32, 65, 0.2)
  img   
    margin-right: 20px

.number__desc
  font-family: 'Montserrat-SemiBold'
  font-style: normal
  font-weight: bold
  font-size: 14px
  line-height: 24px
  span
    color: rgba(31, 32, 65, 0.5)