.first-registr 
  position: relative
  width: 1440px
  height: 772px
  background-image: url('../img/image 4.1.jpg')

.new-account-box
  position: absolute
  width: 380px
  height: 646px
  background: #FFFFFF
  border: 1px solid rgba(0, 0, 0, 0.12)
  box-sizing: border-box
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2)
  border-radius: 4px
  top: 60px
  right: 550px
  padding: 40px 30px 30px 30px

.new-account-box-off
  overflow: hidden
  opacity: 0
  transition: all 0.3s ease-in
  z-index: 0

.message-result
  position: absolute
  width: 380px
  height: 350px
  background: #FFFFFF
  border: 1px solid rgba(0, 0, 0, 0.12)
  box-sizing: border-box
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2)
  border-radius: 4px
  top: 60px
  right: 550px
  padding: 40px 30px 30px 30px
  overflow: hidden
  opacity: 0

.message-result-on
  position: absolute
  width: 380px
  height: 350px
  background: #FFFFFF
  border: 1px solid rgba(0, 0, 0, 0.12)
  box-sizing: border-box
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2)
  border-radius: 4px
  top: 60px
  right: 550px
  padding: 40px 30px 30px 30px
  opacity: 1
  transition: all 500ms ease-out
  

.new-account__title
  font-family: 'Montserrat-SemiBold'
  font-style: normal
  font-weight: bold
  font-size: 24px
  line-height: 30px
  color: #1F2041  
  margin-bottom: 20px 

.message-result__title
  font-family: 'Montserrat-SemiBold'
  font-style: normal
  font-weight: bold
  font-size: 24px
  line-height: 30px
  color: #1F2041  
  margin-bottom: 20px 
  text-align: center

.new-account
  width: 320px
  height: 44px
  background: #FFFFFF
  border: 1px solid rgba(31, 32, 65, 0.25)
  box-sizing: border-box
  border-radius: 4px
  font-family: 'Montserrat-Regular'
  font-style: normal
  font-weight: normal
  font-size: 14px
  line-height: 18px
  color: #1F2041
  margin-bottom: 10px
  padding: 13px 0 13px 15px
  &:focus
    outline: none

.new-account__radiobuttons
  display: flex
  height: 21px
  .label-of
    font-family: 'Montserrat-Regular'
    font-style: normal
    font-weight: normal
    font-size: 14px
    line-height: 24px
    color: rgba(31, 32, 65, 0.75)
    margin: 2px 20px 0 0
    padding-left: 30px
    cursor: pointer
    background:
      image: url(../img/gend-of.png)
      repeat: no-repeat
      position: left
      size: contain
  .label-on
    font-family: 'Montserrat-Regular'
    font-style: normal
    font-weight: normal
    font-size: 14px
    line-height: 24px
    color: rgba(31, 32, 65, 0.75)
    margin: 2px 20px 0 0
    padding-left: 30px
    cursor: pointer
    background:
      image: url(../img/gend-on.png)
      repeat: no-repeat
      position: left
      size: contain

#male, #female
  visibility: collapse

.new-account__birthday
  margin: 20px 0 0 0

.new-account__birthday-title, .new-account__enter-title
  font-family: 'Montserrat-ExtraBold'
  font-style: normal
  font-weight: bold
  font-size: 12px
  line-height: 15px
  text-transform: uppercase
  color: #1F2041 
  margin: 20px 0 5px 0

#birthday-date
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button
    -webkit-appearance: none
    -moz-appearance: textfield
    margin: 0

.toggle
  display: flex
  flex-direction: row-reverse
  justify-content: 
  align-items: end
  cursor: pointer
  background:
    image: url('../img/Toggle 2.png')
    repeat: no-repeat
  .btn 
    display: none 
    
.toggle-of
  position: absolute
  top: 4px
  left: 3px

.toggle-on
  position: absolute
  top: 4px
  left: 23px
  width: 12px
  height: 12px
  border: 1px solid #999afc
  border-radius: 10px
  background-color: #999afc

.new-account__enter
  label
    font-family: 'Montserrat-Regular'
    font-style: normal
    font-weight: normal
    font-size: 14px
    line-height: 24px
    color: rgba(31, 32, 65, 0.75)

.new-account__button
  width: 320px
  height: 44px
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%)
  border-radius: 22px
  margin-top: 20px
  font-family: 'Montserrat-SemiBold'
  font-style: normal
  font-weight: bold
  font-size: 12px
  text-align: center
  text-transform: uppercase
  color: #FFFFFF
  padding: 15px 0
  cursor: pointer
  &:focus
    outline: none
  img
    position: absolute
    right: 40px
    bottom: 108px

.enter__private
  display: flex
  justify-content: space-between
  align-items: center
  margin-top: 22px

.enter__text
  font-family: 'Montserrat-Regular'
  font-style: normal
  font-weight: normal
  font-size: 14px

.enter__button
  width: 99px
  height: 44px
  font-family: 'Montserrat-SemiBold'
  font-style: normal
  font-weight: bold
  font-size: 12px
  line-height: 15px
  text-align: center
  text-transform: uppercase
  color: #BC9CFF
  cursor: pointer
  border: 2px solid #BC9CFF
  border-radius: 22px
  &:focus
    outline: none

.new-account__birthday
  input
    cursor: pointer
    background:
      image: url(../img/expand_more.png)
      repeat: no-repeat
      position: right
  &:focus
    outline: none

.message-result__name
  font-family: 'Montserrat-Regular'
  font-style: normal
  font-weight: normal
  font-size: 14px
  line-height: 24px
  color: rgba(31, 32, 65, 0.75)
  margin-bottom: 20px
